<div class="container" >
    <div class="card bg-success">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1 style="font-family: Cooper, 'Times New Roman', serif;">Velocidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="bg-success text-danger"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card bg-success">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1 style="font-family: Cooper, 'Times New Roman', serif;">Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="bg-success text-danger"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card bg-success">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1 style="font-family: Cooper, 'Times New Roman', serif;">Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="bg-success text-danger"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <!--juego mio-->
    <div class="card bg-success">
      <img  class="img-thumbnail"  src="./assets/imagenes/mouse.png" alt="Avatar" style="width:100%">
      <h1 style="font-family: Cooper, 'Times New Roman', serif;">Velocidad de click</h1>
      <p class="title">Juega de velocidad</p>
      <p>By GGT </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="bg-success text-danger"  (click)="Juego('velocidadClick')">Jugar!</button></p>
    </div>
  </div>