<div class="panel panel-default bg-warning">
  <div class="hero-text">
      <h1 style="font-size:50px; font-family: Cooper, 'Times New Roman', serif; ">Sala de Juegos</h1>
      <p style="font-family: Cooper, 'Times New Roman', serif; ">Giuliano Tritto</p>
      <a href="https://github.com/TrittoG"target="_blank" class="boton">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" class="boton">Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse <i class="fa fa-drivers-license"></i></a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar <i class="fa fa-drivers-license-o"></i></a></li>
  </ul>
</div>
